.Rproj.user
.Rprofile
.RData
.Rhistory
.DS_Store
windfarmGA.Rcheck
windfarmGA_*.tar.gz
optimizeCalcEn.R
viewshed_turbines.R
srtm*
readme.txt
packrat/*
packrat/lib*/
packrat/src/
*.grd
*.gri
*.vrt
GoogleChromePlot.R
GooglePlot.R