.Rproj.user
.Rprofile
*.RData
.Rhistory
.DS_Store
windfarmGA.Rcheck
windfarmGA_*.tar.gz
optimizeCalcEn.R
viewshed_turbines.R
testRandomsearch_plotfunc.R
rayshader_tests.R
srtm*
readme.txt
packrat/*
packrat/lib*/
packrat/src/
newstuff/*
*.grd
*.gri
*.vrt
GoogleChromePlot.R
GooglePlot.R
windlist_wakeR.RData
