packrat/lib*/
packrat/src*/
.Rproj.user
windfarmGA.Rproj
packrat/src/packrat/packrat_0.4.8-1.tar.gz
packrat/packrat.lock
packrat/init.R
packrat/packrat.opts
.Rbuildignore
.Rprofile
srtm_39_03.hdr
srtm_39_03.tfw
srtm_39_03.tif
packrat/src/
.Rhistory
readme.txt
.gitignore